.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: calc(10 * 4rem + 4.5rem);
  }
}

.game-menu {
  display: flex;
  gap: 1rem;
  padding: 2rem;
}
