.square {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 0.25rem;

  &.default {
    background-color: var(--color-blue);
  }

  &.current {
    background-color: var(--color-orange);
  }

  &.success {
    background-color: var(--color-green);
  }

  &.fail {
    background-color: var(--color-red);
  }
}
